name: build code
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: compile
        run: 
           g++ -std=c++11 negarr.cpp proxy.cpp testq1.cpp -o main
